* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.nav-itmes {
  display: flex;
  justify-content: space-between;
  background-color: rgb(10, 10, 62);
}
/* .divul {
  background-color: rebeccapurple;
  width: 50%; 
} */
.unlist {
  display: flex;
  gap: 10px;
  margin-left: 100px;
}
.unlist li {
  padding: 10px;
  border-radius: 20px;
  margin: 10px;
  list-style: none;
  color: white;
  /* margin-left: 10px; */
}

.unlist li:hover {
  background-color: brown;
  cursor: pointer;
}
.unlist2 {
  display: flex;
  flex-direction: row;
  /* background-color: brown; */
  gap: 10px;
  margin: 10px;
  margin-left: 30px;
  padding-right: 160px;
}
.unlist2 li {
  padding: 10px;
  border-radius: 20px;
  list-style: none;
  /* margin-left: 10px; */
}
.unlist2 input {
  border-radius: 10px;
  /* border-style: none; */
  height: 30px;
  margin-top: 8px;
}
.imggit {
  height: 20px;
  width: 20px;
  margin-top: 10px;
}
.mj {
  height: 25px;
  width: 25px;
  margin-top: 20px;
}

/* ********************************section************************************** */

/* *********************utility class********************** */
.blue {
  color: rgb(80, 119, 211);
}
.white {
  color: white;
}
.lg-heading {
  font-size: 3rem;
}

#new-flex {
  /* padding: 10rem 0; */
  /* background-color: antiquewhite; */

  /* margin-top: 50px; */
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  /* flex-wrap: wrap-reverse; */
  /* width: 1000px; */
  /* justify-content: center; */
  /* align-items: center; */
  height: 680px;
}
.boxs {
  /* margin-left: 10px; */
  /* align-self: flex-start; */
  /* border: 3px solid black; */
  height: 100%;
}
.boxs1 {
  width: 60%;
  background-color: rgb(15, 24, 66);
  padding: 5rem;
}

.box2iner {
  display: flex;
  gap: 30px;
}
.butt1 {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  background-color: #0270e5;
}
.right2 {
  border: 1px solid rgb(36, 34, 164);
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.butt1 a {
  color: white;
  text-decoration: none;
}

.boxs2 {
  width: 33%;
  background-color: rgb(10, 4, 44);
}
.boxs3 {
  width: 33%;
  background-color: rgb(10, 4, 44);
}
.sec1 {
  height: 47%;
  width: 80%;
  margin-left: 30px;
  margin-top: 40px;
  background-color: #0270e5;
  border-radius: 5%;
  position: relative;
}
.iner1 {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  margin-left: 20px;
  margin-top: 45px;
  border-radius: 5px;
}
.para1 {
  margin-left: 20px;
  margin-top: 80px;
  position: absolute;
  color: white;
}
.img1 {
  width: 25px;
  height: 25px;
  margin-top: 250px;
  margin-left: 20px;
  border-radius: 5px;
  position: absolute;
}

.nexpara1 {
  margin-top: 245px;
  margin-left: 55px;
  position: absolute;
  font-size: 0.8rem;
  color: lightskyblue;
}
.nexpara11 {
  margin-top: 260px;
  margin-left: 55px;
  position: absolute;
  font-size: 0.8rem;
  color: white;
}

.sec2 {
  display: flex;
  gap: 20px;
  height: 20%;
  width: 80%;
  margin-left: 30px;
  margin-top: 30px;
  background-color: rgb(24, 29, 73);
  border-radius: 4%;
}
.sec2img {
  padding-top: 10px;
}
.imgg2 {
  height: 120px;
  width: 100px;
  margin-left: 15px;
  margin-top: 10px;
}
.round2 {
  display: flex;
  gap: 20px;
  padding-top: 15px;
}
.sec2round {
  height: 40px;
  width: 40px;
  /* background-color: red; */
  border: 2px solid blue;
  border-radius: 50%;
}
.texcen {
  padding-top: 10px;
  padding-left: 9px;
  font-weight: 700;
}

.sec3 {
  /* height: 10%; */
  /* width: 80%;  */
  margin-left: 30px;
  margin-right: 35px;
  margin-top: 30px;
  background-color: #0270e5;
  cursor: pointer;
}
.img3 {
  height: 250px;
  width: 280px;
  margin-left: 50px;
  margin-top: 40px;
  border: 3px solid pink;
}
.boxx {
  background-color: #0270e5;
  display: flex;
  /* flex-direction: row; */
  /* gap: 10px; */
  margin-left: 50px;
  margin-right: 50px;
  height: 40px;
  margin-top: 20px;
  border-radius: 10px;
  align-items: center;
  justify-content: space-around;
}

.boxslast {
  margin: 100px;
  margin-right: 30px;
}
